# Node
node_modules
main.js
package-lock.json

# Cursor
repo.md
agent.md
diff
.cursor/mcp
.cursor/mcp.json

# Plugin
data.json
stats.json
# Cursor Memory Bank
.cursor/mcp
.cursor/mcp.json
.cursor/screenshots
tomd.py
repo.md
diff




